@model IEnumerable<Data.ModelsClass.Sanpham>

<h2>Danh sách sản phẩm</h2>
<tr>
    
</tr>
<tbody>
   
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Trạng thái</th>
    </tr>
    @foreach (var item in Model)
    { // @ để dùng code như C#
        <tr>
            <th>@item.Id</th>
            <th>@item.Ten</th>
            <th>@item.Gia</th>
            <th>@item.Soluong</th>
            <th>@(item.Trangthai ? "Họat động" : "Không hoạt động")</th>
        </tr>
    }
</table>
</tbody>